In [ ]:
! pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [4]:
import pandas as pd
import numpy as np

In [ ]:
data=[1,2,3,4]
index=[0,1,2,3]

In [ ]:
serie=pd.Series(data=data,index=index,name="serie",copy=True)
serie

0    1
1    2
2    3
3    4
Name: serie, dtype: int64

In [ ]:
data[0]="Hi"

In [ ]:
serie

0    Hi
1     2
2     3
3     4
Name: serie, dtype: object

In [ ]:
# create series
age_series= pd.Series([19,24,30,41,53,62])
# print the series
age_series

0    19
1    24
2    30
3    41
4    53
5    62
dtype: int64

In [ ]:
# create series using numpy
age_series= pd.Series(np.array([19,24,30,41,53,62]))
# print the series
age_series

0    19
1    24
2    30
3    41
4    53
5    62
dtype: int64

In [ ]:
salary_series_index= pd.Series(np.array([20000,12000,43000,45000,65000,66000])) ,
index=np.arange(0,12,2)
salary_series_index

(0    20000
 1    12000
 2    43000
 3    45000
 4    65000
 5    66000
 dtype: int64,)

In [ ]:
prod_dict={"Dairy":23000,"Soft Drinks":45000,"Fruits and Vegetables":67000}
prod_series=pd.Series(prod_dict)
prod_series

Dairy                    23000
Soft Drinks              45000
Fruits and Vegetables    67000
dtype: int64

In [ ]:
# batch1,batch2,batch3

batches=['batch1','batch2','batch3']
yield_=np.random.randint(1,5,3)
yield_

series_batch=pd.Series(yield_,batches)
series_batch

batch1    4
batch2    4
batch3    2
dtype: int64

In [ ]:
series_batch['batch3']

4

In [ ]:
# To change index value
series_batch.index=[1,2,3]

In [ ]:
series_batch.values

array([1, 2, 4])

In [ ]:
series_batch["batch1"]="Hi"
series_batch

batch1    Hi
batch2    Hi
batch3     2
dtype: object

### **Filtering Series**

In [ ]:
marks = pd.Series(np.random.randint(1,100,100),name="Marks")
marks

0     72
1      9
2     95
3     30
4     93
      ..
95    45
96    61
97    43
98    25
99    34
Name: Marks, Length: 100, dtype: int64

In [ ]:
student_series=pd.Series(
              np.array([450,129,313,414,215,116]),
              index=['Sophia','Emma','Mia','William','Lily','Grace'])
student_series[student_series>300]

Sophia     450
Mia        313
William    414
dtype: int64

In [ ]:
# creating simple array
emp_array=np.array(['A101','A102','A103','B101','B102','B103','C101','C102','C104'])
emp_id_series=pd.Series(emp_array)
print(emp_id_series[:5])

0    A101
1    A102
2    A103
3    B101
4    B102
dtype: object

In [ ]:
# creating simple array
emp_array=np.array(['A101','A102','A103','B101','B102','B103','C101','C102','C104'])
emp_id_series=pd.Series(emp_array)
print(emp_id_series[:-5])

0    A101
1    A102
2    A103
3    B101
dtype: object

### **Arithmetic Operations**

In [ ]:
# Creating simple array
sales_array=np.array([1200,3252,2233])
sales_series=pd.Series (sales_array)
sales_series*2

0    2400
1    6504
2    4466
dtype: int64

In [ ]:
# create two series
MRP_series=pd.Series([12,15,17])
sales_series=pd.Series([23,43,34])

# multiply both the series
total_amt_series=MRP_series.multiply(sales_series)
print(total_amt_series)

0    276
1    645
2    578
dtype: int64

In [ ]:
# create two arrays
english_array=np.array([67,82,93])
english_series=pd.Series(english_array)

maths_array=np.array([91,72,83])
maths_series=pd.Series(maths_array)

#perform addition
total_marks=english_series+maths_series
total_marks

0    158
1    154
2    176
dtype: int64

In [2]:
from sklearn.datasets import load_iris

In [10]:
# To check the number of null values

data=[1,'1',np.nan,'a','b',np.nan]
pd.Series(data).isnull().sum()

# To get the length of null values

(pd.Series(data).isnull().sum()/len(data))*100

33.33333333333333

In [9]:
#
x=[]
# for i in range(100):
# x.append(np.random.choice(data))

print(data)

[1, '1', nan, 'a', 'b', nan]

In [15]:
# add 100 items in this list,
# if the number is even add the number
# if the number is multiple of 3 add the square
# otherwise add null value and calculate the null %

x=[]
for i in range(1,101):
  if i%2==0:
   x.append(i)
  elif i%3==0:
   x.append(i**2)
  else:
    x.append(np.nan)
(pd.Series(x).isnull().sum()/len(x))*100

33.0

In [8]:
import pandas as pd
import numpy as np

In [11]:
# CONCATENATE SERIES
serie1=pd.Series(data,name='Test') #serie1
serie2=pd.Series(np.random.randint(1,100,len(serie1))) #serie2

print(serie1,serie2) #print
#  Joining bothe the series resetted the index and dropped the previous index
concat_series=pd.concat([serie1,serie2]).reset_index(drop=True)

#name to the series
concat_series.name='Hello World'
print(concat_series) #print the Series

0      1
1      1
2    NaN
3      a
4      b
5    NaN
Name: Test, dtype: object 0    19
1    85
2     7
3    65
4    93
5    61
dtype: int64
0       1
1       1
2     NaN
3       a
4       b
5     NaN
6      19
7      85
8       7
9      65
10     93
11     61
Name: Hello World, dtype: object

In [23]:
pd.concat([serie1,serie2],keys=['Even','Odd'],names=['Category','Index'])

Category  Index
Even      0          1
          1          1
          2        NaN
          3          a
          4          b
          5        NaN
Odd       0         31
          1         22
          2         93
          3         90
          4          5
          5         68
dtype: object

In [ ]:
!pip uninstall pandas

In [1]:
! pip install pandas==1.5.1

Requirement already satisfied: pandas==1.5.1 in /usr/local/lib/python3.10/dist-packages (1.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas==1.5.1) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas==1.5.1) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas==1.5.1) (1.26.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas==1.5.1) (1.16.0)

In [12]:
# append 'serie1' to 'serie2'
serie1.append(serie2,ignore_index=True)

<ipython-input-12-059310964a4f>:2: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  serie1.append(serie2,ignore_index=True)

0       1
1       1
2     NaN
3       a
4       b
5     NaN
6      19
7      85
8       7
9      65
10     93
11     61
dtype: object

In [22]:
# Write a Pandas program to add ,subtract,multiple and divide two Pandas Series.
# Sample Series:[2,4,6,8,10],[1,3,5,7,9]

sample=([2,4,6,8,10])
sample2=([1,3,5,7,9])
serie1=pd.Series(sample)
serie2=pd.Series(sample2)

add=serie1+serie2
sub=serie1-serie2
multi=serie1*serie2
div=serie1/serie2

print(add,sub,multi,div)

0     3
1     7
2    11
3    15
4    19
dtype: int64 0    1
1    1
2    1
3    1
4    1
dtype: int64 0     2
1    12
2    30
3    56
4    90
dtype: int64 0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [27]:
# To compare the elements of two pandas

sample3=([2,4,6,8,10])
sample4=([1,3,5,7,9])
serie1=pd.Series(sample3)
serie2=pd.Series(sample4)

#condition
for i,j in zip(serie1,serie2):
  print(i,j)
if i>j:
    print("Serie1 is greater")
elif j>i:
    print("Serie2 is greater")
else:
    print("Equal")

2 1
4 3
6 5
8 7
10 9
Serie1 is greater

In [28]:
#
dict1={'a':'20','b':'10','c':'60','d':'80'}
dict_series=pd.Series(dict1)
dict_series

a    20
b    10
c    60
d    80
dtype: object